/* main text color: #757575
second text color: #212121
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
main background: #FFFFFF
second background color: #F5F4FA
third background color: #2F303A
action color: #2196F3 */

:root {
    --background-color: #FFFFFF;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --acsent-color: #2196F3;
    --hero-background: #2F303A;
    --team-background: #F5F4FA;
    --hero-color: #FFFFFF;
}


/* Боді */
body {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--primary-text-color)
}

a {

    text-decoration: none;
}
li {

    list-style-type: none;
  }

/* Шапка */
.logo {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--acsent-color);
}
.logo-up {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.logo-down {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--background-color);
}
.site-nav .link {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--acsent-color);
}
.site-nav .link.current {
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--acsent-color);
}
.tell {
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.tell:hover, .tell:focus {
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--acsent-color);

}

/* Герой */
.hero {

    background-color: var(--hero-background);
}
.hero-title {
    
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-color);
}
.hero-button {
    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    cursor: pointer;
    color: var(--hero-color)
}

/* Переваги */
.bonuses-title {
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.bonuses-item  {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* Чим займаэмося */
.work-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.work-item {
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);
}
.description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

/* Наша Комантда */
.team {
    background-color: var(--team-background);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    }
.igor {
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.olga {
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.mykola {
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.misha {
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-pos {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* Buttons */
.wrk-fltr .filter {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.wrk-fltr .filter:hover,
.wrk-fltr .filter:focus {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--background-color);
    background-color: var(--acsent-color);
}


/* Підвал */
.footer {
    background-color: var(--hero-background);
}
.map {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--hero-color);
}
.map:hover, .map:focus {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--acsent-color);
}
.address {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address:hover, .address:focus {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--acsent-color)
}